<section class="banner">
    <div class="container text-center">
        <div class="row">
           <div class="col-8">
                <h1><span>BlueEssaySite.net -</span> <br>expert help for custom Written</h1>
    
                <div class="hr"></div>

                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized</p>

                <input type="submit" value="Place an order" class="btn1 btn-big btn">
                </input>

           </div>

           <div class="col-4">
              <img class="Wooman" src="../../../assets/img/Wooman.png" alt="">
           </div>
        </div>
     </div>
  
     <div class="bg-town">
        <img class="Towm" src="../../../assets/img/Town.png" alt="">
     </div>
     <div class="bg-could">
        <div class="box">
           <img class="Cloud" src="../../../assets/img/cloud-baner.png" alt="">
           <img class="Cloud" src="../../../assets/img/cloud-baner.png" alt="">
           <img class="Cloud" src="../../../assets/img/cloud-baner.png" alt="">
           <img class="Cloud" src="../../../assets/img/cloud-baner.png" alt="">
        </div>
     </div>
</section>

<section class="order">
    <div class="container text-center">

        <div class="row">
         <div class="col tem1">
          <h6>Type of paper</h6>
          <select class="form-select form-select-lg mb-3" aria-label="Large select example">
             <option selected>Placeholder text</option>
             <option value="1">One</option>
             <option value="2">Two</option>
             <option value="3">Three</option>
           </select>
         </div>

         <div class="col tem2">
          <h6>Writer level</h6>
          <select class="form-select form-select-lg mb-3" aria-label="Large select example">
             <option selected>High school</option>
             <option value="1">One</option>
             <option value="2">Two</option>
             <option value="3">Three</option>
           </select>
         </div>

         <div class="col tem3">
          <h6>Urgency</h6>
          <select class="form-select form-select-lg mb-3" aria-label="Large select example">
             <option selected>21 days</option>
             <option value="1">One</option>
             <option value="2">Two</option>
             <option value="3">Three</option>
           </select>
         </div>

         <div class="col tem4">
          <h6>Number of pages</h6>
          <select class="form-select form-select-lg mb-3" aria-label="Large select example">
            <option selected>40 pages</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
         </div>

         <div class="col">
          <button class="btn btn3 btn-big" type="submit">Continue</button>
         </div>
       </div>
     </div> 
 </section>

 <section class="welcome">
    <div class="container text-center w_d">
       <div class="row">
         <div class="left col">
          <h2>welcome</h2>
           <img src="../../../assets/img/druk.png" alt="">
         </div>
         <div class="right col">
           <h4>01  Welcome to Sitename</h4>
           <h1>Do you need essay help from a good writing service?</h1>
           <p>If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees that any essay work provided by our professional writing services will be entirely free of plagiarism and 100% freshly written. At BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom term paper writing service.</p>

           <p>Our essay and research paper writing services are provided by a large team of editing, writing and research specialists who can help you with all types of coursework, whether you have essays, term papers, research papers, theses or dissertations to complete. Our essay writers are able to help you with all subject matters for all education levels, no matter if you are a high school student or studying for a PhD or Master's degree.</p>
         </div>
       </div>
     </div>
 </section>