<header>
   <div class="container text-center bg-nav">
      <div class="row nav">
         <div class="col-2 logo">
            <a href="#">
               <img src="../../../assets/img/logo.png" alt="">
           </a>
         </div>

         <div class="col-8 right">
            <div class="col col-drop">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  services
               </a>
               <ul class="dropdown-menu">
                  <li>
                       <a class="dropdown-item" href="#">
                           option 1
                       </a>
                   </li>
                  <li>
                       <a class="dropdown-item" href="#">
                           option 2
                       </a>
                   </li>
                  <li>
                       <a class="dropdown-item" href="#">
                           option 3
                       </a>
                   </li>
               </ul>
            </div>

            <div class="col col-drop">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  about us
               </a>
               <ul class="dropdown-menu">
                   <li>
                        <a class="dropdown-item" href="#">
                            option 1
                        </a>
                    </li>
                   <li>
                        <a class="dropdown-item" href="#">
                            option 2
                        </a>
                    </li>
                   <li>
                        <a class="dropdown-item" href="#">
                            option 3
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col how-works">
               <a href="#">
                  <h6>how it works</h6>
               </a>
            </div>

            <div class="col-1">
               <a class="Tel" href="#"><img src="../../../assets/img/Tel.png" alt=""></a>
            </div>

            <div class="col">
              <input type="submit" value="sing in" class="btn3 btn-small btn">
              </input>
            </div>
            <div class="col">
              <input type="submit" value="order" class="btn btn-small btn1">
              </input>
            </div>
            <div class="menu d-block">
               <div class="bar1"></div>
               <div class="bar2"></div>
               <div class="bar3"></div>
            </div>
         </div>
      </div>
   </div>
</header>