<section class="advantages">
    <div class="bg_image">
       <img src="../../../assets/img/rupor.png" alt="">
       <img src="../../../assets/img/message-2.png" alt="">
       <img src="../../../assets/img/lupa-2.png" alt="">
       <img src="../../../assets/img/message.png" alt="">
       <img src="../../../assets/img/laptop-2.png" alt="">
       <img src="../../../assets/img/notes.png" alt="">
       <img src="../../../assets/img/penzlyk-small.png" alt="">
    </div>
    <div class="bg_image box2">
       <img src="../../../assets/img/message-2.png" alt="">
       <img src="../../../assets/img/notes.png" alt="">
       <img src="../../../assets/img/laptop-2.png" alt="">
       <img src="../../../assets/img/penzlyk-small.png" alt="">
       <img src="../../../assets/img/message.png" alt="">
       <img src="../../../assets/img/rupor.png" alt="">
       <img src="../../../assets/img/lupa-2.png" alt="">
    </div>
 
    <div class="container text-center">
       <div class="row">
          <div class="col-12">
             <h4>02 Our advantages</h4>
          </div>
          <div class="col-12">
             <h1>Advantages of Our Writing Services</h1>
          </div>
 
        <div class="row gg-row">
          <div class="col-xl-4 col-sm-12">
             <div class="box box-gg">
                <div class="image">
                   <span></span>
                   <img src="../../../assets/img/kubok.png" alt="">
                </div>
                <h3>Professionally-qualified <br>writing experts</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                </p>
             </div>
          </div>
          <div class=" col-xl-4 col-sm-12">
             <div class="box box-gg">
                <div class="image">
                   <span></span>
                   <img class="img_2" src="../../../assets/img/zapusnuk.png" alt="">
                </div>
                <h3>Commitment to deliver papers <br>by deadline</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and p
                   raising pain was born</p>
             </div>
          </div>
          <div class=" col-xl-4 col-sm-12">
             <div class="box box-gg">
                <div class="image">
                   <span></span>
                   <img class="img_3" src="../../../assets/img/comp.png" alt="">
                </div>
                <h3>Top-quality, at a great price - <br> guaranteed</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                </p>
             </div>
          </div>
        </div>

        <div class="row">
          <div class="button col-12">
             <button class="btn btn2 btn-big" type="submit">Place an order</button>
          </div>
        </div>
    </div>
 </section>

 <section class="simple">
    <div class="container text-center">
       <div class="row">
          <div class="col-12">
             <h4>03 How it works</h4>
          </div>
          <div class="col-12">
             <h1>Our Simple 4-Step Procedure</h1>
          </div>
 
          <div class="box col-xl-3 col-lg-6">
            <img class="img_media i_m1" src="../../../assets/img/arrow 4.png" alt="">
            <div class="class">
               <img src="../../../assets/img/pen.png" alt="">
               <h2>Step 1</h2>
               <p>Complete the short order form to buy a paper from our easy essay writing service.</p>
            </div>
         </div>

          
          <div class="box col-xl-3 col-lg-6">
             <img class="img_media i_m1" src="../../../assets/img/arrow 4.png" alt="">
             <div class="class">
                <img src="../../../assets/img/midal.png" alt="">
                <h2>Step 2</h2>
                <p>We allocate your order to a suitably-qualified writer with specialist knowledge in, for example,
                   persuasive essay writing if that is what you want.</p>
             </div>
          </div>

          <div class="box col-xl-3 col-lg-6">
             <img class="img_media" src="../../../assets/img/arrow 4.png" alt="">
             <div class="class">
                <img src="../../../assets/img/Lupa.png" alt="">
                <h2>Step 3</h2>
                <p>Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the
                   highest standard</p>
             </div>
          </div>

          <div class="box col-xl-3 col-lg-6">
             <img class="img_media i_m1" src="../../../assets/img/arrow 4.png" alt="">
             <div class="class">
                <img src="../../../assets/img/Raketa.png" alt="">
                <h2>Step 4</h2>
                <p>The order you placed with our essay writing service is then sent to you before the deadline you set
                   and is accompanied by se
                   veral free-of-charge features.</p>
             </div>
          </div>
 
       </div>
    </div>
 </section>

 <section class="discount">
    <div class="coulds">

       <div id="cloud-1">
          <img  class="could-1" src="../../../assets/img/clouds.png" alt="">
       </div>

       <div id="cloud-2">
          <img  class="cloud-2" src="../../../assets/img/cloud-2.png" alt="">
       </div>

       <div id="cloud-3">
        <img class="cloud-3" src="../../../assets/img/clouds.png" alt="">
       </div>

       <div id="cloud-4">
        <img class="cloud-4" src="../../../assets/img/cloud-2.png" alt="">
        <p>@jurawee</p>
       </div>

    </div>

    <div class="raketa">
       <div class="box">
          <img class="rak" src="../../../assets/img/raketa1.png" alt="">
       </div>
          <div class="box2">
             <img class="fire" src="../../../assets/img/fire.png" alt="">
          </div>
    </div>

    <div class="container text-center">
       <div class="row">
          <div class="col-12">
             <h5>04  Discounts</h5>
          </div>
          <div class="col-12">
             <h1>Our discount program</h1>
          </div>
          <div class="col-12">
             <h4>By utilizing elements and principles of Material Design, we were <br> able to create a framework that incorporates </h4>
          </div>
       </div>
    </div>
    <div class="bg-clouds">
       <img src="../../../assets/img/bg-clouds.png" alt="">
    </div>
 </section>

 <section class="off">
    <div class="discounts">
            <div class="div1 type">
                <a href="#">
                   <h1>4% <br> OFF</h1>
                   <p>for more than</p>
                   <h5>15 pages</h5>
                </a>
             </div>
      
             <div class="div2 type">
                <a href="#">
                   <h1>5%<br>OFF</h1>
                   <p>for more than</p>
                   <h5>20 pages</h5>
                </a>
             </div>
      
             <div class="div3 type">
                <a href="#">
                   <h1>10%<br>OFF</h1>
                   <p>for more than</p>
                   <h5>50 pages</h5>
                </a>
             </div>
      
             <div class="div4 type">
                <a href="#">
                   <h1>15%<br>OFF</h1>
                   <p>for more than</p>
                   <h5>100 pages</h5>
                </a>
             </div>
 
       <div class="div5">
          <div class="box">
             <h2>Try our service &<br>get huge discounts</h2>
             
             <img class="scissors" src="../../../assets/img/scissors.png" alt="">
             
             <img class="stars" src="../../../assets/img/stars.png" alt="">
             
             <div class="dsc">
                <a href="#">
                   <h5>get</h5>
                   <h1>15% <br>OFF</h1>
                   <p>for your 1st order</p>
                </a>
             </div>

             <h6>Use <br> <span>discount15</span> <br> as discount code</h6>
             
             <div class="movable-block" id="block">
                <img class="baloon" src="../../../assets/img/hotaiitb.png" alt="">
             </div>

          </div>
       </div>
    </div>

    <div class="discounts-2">
        <h2>Try our service &<br>get huge discounts</h2>

        <img class="scissors" src="../../../assets/img/scissors.png" alt="">
        
        <div class="dsc">
           <a href="#">
              <h5>get</h5>
              <h1>15% <br>OFF</h1>
              <p>for your 1st order</p>
           </a>
        </div>

        <h6>Use <br> <span>discount15</span> <br> as discount code</h6>

         <div class="movable-block" id="block">
            <img class="baloon" src="../../../assets/img/hotaiitb.png" alt="">
         </div>   
   </div>

</div>
</section>

 <section class="testimonials">
    <div class="container text-center">
       <div class="row">
          <div class="col-12">
             <h4>05 Testimonials</h4>
          </div>
          <div class="col-12">
             <h1>What our clients say</h1>
          </div>
       </div>
    </div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="radio"><img src="../../../assets/img/person3.png" alt="..."></div>
             <p>Using BestEssayService.net was possibly the best choice of my academic career. Even though I work
                full-time, I managed to submit all my assignments on time owing to the broad array of services on offer.
                No matter what written work I needed, help was available. I would give a full ten marks.</p>
             <h4>Jessica Grey</h4>
             <p>20 apr 2016 at 8:23 </p>
          </div>
          <div class="carousel-item active">
             <div class="radio"><img src="../../../assets/img/person1.png" alt="..."></div>
             <p>Using BestEssayService.net was possibly the best choice of my academic career. Even though I work
                full-time, I managed to submit all my assignments on time owing to the broad array of services on offer.
                No matter what written work I needed, help was available. I would give a full ten marks.</p>
             <h4>Lorna Grey</h4>
             <p>20 apr 2016 at 8:23 </p>
          </div>
          <div class="carousel-item active">
             <div class="radio"><img src="../../../assets/img/persoon2.png" alt="..."></div>
             <p>Using BestEssayService.net was possibly the best choice of my academic career. Even though I work
                full-time, I managed to submit all my assignments on time owing to the broad array of services on offer.
                No matter what written work I needed, help was available. I would give a full ten marks.</p>
             <h4>Chris Grey</h4>
             <p>20 apr 2016 at 8:23 </p>
          </div>
       </div>
       <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
       </button>
       <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
       </button>
    </div>
    </div>
 </section>